<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/employee-list.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container">
    <h2>Employee List</h2>
    <div class="row">
        <div class="col-10">
            <input type="text" id="searchInput" placeholder="Search employees..." onkeyup="filterTable()">
        </div>
        <div class="col-2">
            <a th:href="@{/employee/register}">
                <button>Add employee</button>
            </a>
        </div>
    </div>
    <table id="data-table">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${EmployeeList}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.emailId}"></td>
            <td>
                <a th:href="@{/employee/profile/{id}(id=${employee.id})}">
                    <button>View Details</button>
                </a>
            </td>
        </tr>
<!--        <tr th:if="${EmployeeList.isEmpty()}">-->
<!--            <td colspan="5" class="no-results">No employees found.</td>-->
<!--        </tr>-->
        </tbody>
    </table>
</div>

<script>
    function filterTable() {
        let input = document.getElementById("searchInput");
        let filter = input.value.toLowerCase();
        let table = document.getElementById("data-table");
        let rows = table.getElementsByTagName("tr");
        let found = false;

        for (let i = 1; i < rows.length; i++) { // Skip header row
            let cells = rows[i].getElementsByTagName("td");
            let rowMatch = false;

            for (let j = 0; j < cells.length - 1; j++) { // Exclude the action column
                if (cells[j]) {
                    let cellText = cells[j].textContent || cells[j].innerText;
                    if (cellText.toLowerCase().indexOf(filter) > -1) {
                        rowMatch = true;
                        found = true;
                        break;
                    }
                }
            }
            rows[i].style.display = rowMatch ? "" : "none";
        }
        if(!found){
            if(rows.length > 1){
                rows[rows.length-1].style.display = "table-row";
            }
        }
    }
</script>
</body>
</html>